{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Sorry, you aren't can't apply for a juggling licence
      </h1>
      <p>You need to be able to juggle 3 or more balls to be eligible for a licence.</p>
      <p>Try <a href="https://en.wikipedia.org/wiki/Kitesurfing">kite surfing</a> instead.</p>

    </div>
  </div>
</main>

{% endblock %}
